@import "tailwindcss";


@theme {
  /* Fonts */
  --font-gilory: 'Gilroy';
  /* Colors */
  --color-primary: #0B090E;
  --color-brand-red: #C00B29;
  --color-brand-gray-200: #3849D0 ;
  /* shadow */
  --shadow-custom-3xl: 0px 0px 30px 3px ;
  --shadow-custom-4xl: 0px 0px 30px 6px #3849D0;
}


@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply bg-primary
  }
  button {
    @apply cursor-pointer
  }
}